@import "tailwindcss";

@theme {
  --font-inter: var(--inter);

  --color-red-800: #661126;
  --color-red-900: #350E14;
  --color-beige-100: #F7EDDE;
  --color-beige-300: #F0DBBE;
}

body {
  font-family: 'Inter';
}

@layer components {
  body {
    @apply bg-beige-100 leading-[160%] text-red-900
  }

  .responsive-container {
    @apply px-6 md:px-10 lg:px-16 xl:px-28 2xl:px-40
  }

  .gradient-hero:after {
    background: linear-gradient(180deg, rgba(240, 219, 190, 0) 90%, rgba(240, 219, 190, 100) 100%)
  }
}